<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="./js/twbs-pagination.js"></script>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="./search.css" />
    <title>Tâm Duck Go</title>
  </head>

  <body>
    <h1>Tâm Duck Go</h1>

    <input type="text" name="text" id="search-input" />

    <div class="btn" role="button">Search</div>

    <div class="result"></div>
    <div id="pagination"></div>

    <script>
      var page = 1;
      var limit = 10;
      $(function() {
        var api_url = "http://localhost:3000/api/search/";
        var pageNumber = 1;
        var totalPage;
        var getResult = function() {
          var text = $("#search-input").val();
          console.log(text)
          if (text) {
            fetchData(text,pageNumber,applyPagination);
            // applyPagination(text,totalPage)
          }
        };
        
        function applyPagination(text,totalPage) {
          $("#pagination").twbsPagination({
            totalPages: totalPage,
            visiblePages: 6,
            next: "Next",
            prev: "Prev",
            onPageClick: function(event, page) {
              fetchData(text, page);
            }
          });
        }

        function fetchData(text, page = 1, callback) {
          $.ajax({
            url: api_url,
            async: true,
            type: "GET",
            data: {
              text,
              page
            },
            success: function(response) {
              var result = response.response.docs;
              var numFound = response.response.numFound;
              totalPage = Math.ceil(numFound/limit);
              console.log(totalPage)
              $(".result").html("");
              var content = "";
              result.forEach(quote => {
                content +=
                  '<div class="quote">' +
                    "<h3>" +
                    quote.post_title +
                    "</h3>" +
                    "<small>" +
                    quote.post_author +
                    "</small>" +
                    "<img " + "src=" + quote.post_imagelink + ">" +
                    "<p>"+
                    quote.post_content + 
                    "</p>"
                  "</div>";
              });
              $(".result").append(content);
              callback(current,totalPage);
            },
            error: function(error) {
              console.log(error);
            }
          });
          
        }

        $(".btn").click(getResult);
        $(document).on("keypress", function(e) {
          if (e.which == 13) {
            getResult();
          }
        });
      });
    </script>
  </body>
</html>
