<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./search.css" />
    <title>Tâm Duck Go</title>
</head>

<body>
    <h1>Tâm Duck Go</h1>

    <input type="text" name="text" class="search-input" />

    <div class="btn" role="button">Search</div>

    <div class="result"></div>

    <script>
        $(function () {
            var api_url = "http://localhost:3000/api/search/";

            var getResult = function () {
                var text = $(".search-input").val();
                if (text) {
                    var inputName = $(".search-input").attr("name");
                    $.ajax({
                        url: api_url + inputName + "=" + text,
                        type: "GET",
                        success: function (response) {
                            var result = response.response.docs;
                            var numFound = response.response.numFound;
                            $(".result").html("");
                            var content = "";
                            result.forEach(quote => {
                                content +=
                                    '<div class="quote">' +
                                    "<h3>" +
                                    quote.text +
                                    "</h3>" +
                                    "<p>" +
                                    quote.author[0] +
                                    "</p>" +
                                    "</div>";
                            });
                            $(".result").append(content);
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });

                }
            };

            $(".btn").click(getResult);
            $(".search-input").keypress(function () {
                if (event.which == 13) getResult();
            })
        });
    </script>
</body>

</html>