h1{
    text-align: center;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn{
    text-align: center;
    border: 1px solid;
    padding: 5px;
    margin-left: 40%;
    margin-right: 40%;
}

.btn:hover{
    cursor: pointer;
}
